<fieldset class="fieldset">
    <legend class="fieldset-legend">Filtrar por Estado</legend>
    <select class="select select select-primary">
      <option disabled selected>Selecciona un estado</option>
      <option>Pendiente</option>
      <option>Aprobado</option>
      <option>Rechazado</option>
    </select>
    <span class="label">Optional</span>
  </fieldset>


  <fieldset class="fieldset">
    <legend class="fieldset-legend">Filtrar por localidad</legend>
    <select class="select select select-primary">
      <option disabled selected>Selecciona una Localidad</option>
      <option>Málaga</option>
      <option>Madrid</option>
      <option>Alicante</option>
    </select>
    <span class="label">Optional</span>
  </fieldset>