<ul class="menu space-y-2 text-sm sm:text-base">
 <!--  <li>
    <fieldset class="fieldset">
      <legend class="fieldset-legend">Filtrar por Estado</legend>
      <select class="select select-primary">
        <option disabled selected>Selecciona un estado</option>
        <option>Pendiente</option>
        <option>Aprobado</option>
        <option>Rechazado</option>
      </select>
      <span class="label">Optional</span>
    </fieldset>

  </li> -->
   @if(rol == "superadmin"){
  <li>
    <fieldset class="fieldset">
      <legend class="fieldset-legend">Filtrar por localidad</legend>
      <select class="select select-primary w-full form-control"  [(ngModel)]="centroSeleccionado" 
      (change)="seleccionarCentro(centroSeleccionado)">
        <option disabled value="">Selecciona una Localidad</option>
        @for(centro of centros; track centro.id_centro) {
          <option [value]="centro.id_centro">{{centro.nombre}}</option>
        }
      </select>
      <span class="label">Optional</span>
    </fieldset>

  </li>

  <!-- Registrar nuevo centro -->
  <li>
    <a
      routerLink="registrar-centro"
      routerLinkActive="text-[#002782] font-bold"
      class="flex items-center gap-3 sm:gap-4 px-2 hover:text-[#FF5B41] transition">
      <svg class="w-5 h-5 text-[#002782] min-w-[20px]" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M5.121 17.804A13.937 13.937 0 0112 15c2.837 0 5.45.88 7.879 2.804M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
      </svg>
      Registrar nuevo centro
    </a>
  </li>
  }

  <!-- Registrar nuevo alumno -->
  <li>
    <a
      routerLink="registrar-usuario"
      routerLinkActive="text-[#002782] font-bold"
      class="flex items-center gap-3 sm:gap-4 px-2 hover:text-[#FF5B41] transition">
      <svg class="w-5 h-5 text-[#002782] min-w-[20px]" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M5.121 17.804A13.937 13.937 0 0112 15c2.837 0 5.45.88 7.879 2.804M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
      </svg>
      Registrar nuevo alumno/a
    </a>
  </li>

    <!-- Registrar nuevo alumno -->
  <li>
    <a
      routerLink="admin"
      routerLinkActive="text-[#002782] font-bold"
      class="flex items-center gap-3 sm:gap-4 px-2 hover:text-[#FF5B41] transition">
      <svg class="w-5 h-5 text-[#002782] min-w-[20px]" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M5.121 17.804A13.937 13.937 0 0112 15c2.837 0 5.45.88 7.879 2.804M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
      </svg>
      Estudiantes
    </a>
  </li>
     
 

    <!-- Cerrar sesión -->
    <li>
      <a
        (click)="logout()"
        class="flex items-center gap-3 sm:gap-4 px-2 hover:text-[#FF5B41] transition cursor-pointer"
      >
        <svg class="w-5 h-5 text-[#002782] min-w-[20px]" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M17 16l4-4m0 0l-4-4m4 4H7" />
        </svg>
        Cerrar sesión
      </a>
    </li>
</ul>

 