<div
  *ngIf="loading"
  class="flex justify-center items-center py-20 text-base-content/60"
>
  <span class="loading loading-spinner loading-lg text-primary"></span>
  <span class="ml-4 text-lg">Cargando notificaciones...</span>
</div>

<section class="p-10 space-y-6" *ngIf="loading == false">
  <!-- Header -->
  <article class="flex flex-row justify-between items-center mb-12">
    <h3 class="text-3xl font-bold text-[#002782] mb-4">
      Hola, {{ nombreUsuario }}
    </h3>
    <button
      class="btn px-8 py-3 text-base bg-[#002782] hover:bg-[#FF5B41] text-white rounded-full w-full sm:w-auto"
      routerLink="/dashboard/form"
    >
      Subir Archivos
    </button>
  </article>

  <!-- Filtros -->
  <article *ngIf="notifications.length > 0">
    <div class="flex mb-6">
      <button
        class="btn btn-md mr-2"
        [ngClass]="{ 'btn-active': filtro === 'todas' }"
        (click)="filtro = 'todas'"
      >
        Todas <span class="font-bold"> ( {{ notifications.length }} )</span>
      </button>

      <button
        class="btn btn-md mr-2"
        [ngClass]="{ 'btn-active': filtro === 'no-leidas' }"
        (click)="filtro = 'no-leidas'"
      >
        No leídas <span class="font-bold"> ( {{ contarNoLeidas() }} )</span>
      </button>
    </div>

    <!-- Listado de Notificaciones -->
    <ul class="space-y-4">
      <li
        *ngFor="
          let notification of notificacionesFiltradas();
          trackBy: trackByNotificationId
        "
        class="flex items-center gap-4 bg-base-100 p-4 rounded-box shadow-md border-l-2"
        [ngClass]="{
          'border-secondary': !notification.leido,
          'border-primary': notification.leido
        }"
      >
        <!-- Detalles de la notificación -->
        <div class="flex-grow">
          <div class="font-semibold text-base-content">
            {{ notification.titulo }}
          </div>
          <div class="text-sm text-base-content/65">
            {{ notification.mensaje | limitWords : 20 }}
          </div>
          <div class="text-xs text-base-content/40 mt-1">
            {{ notification.fecha }}
          </div>
        </div>

        <!-- Indicador de lectura (círculo de color) -->
        <span
          [ngClass]="{
            'w-2.5 h-2.5 rounded-full ml-2': true,
            'bg-orange-400': !notification.leido,
            'bg-blue-400': notification.leido
          }"
          class="min-w-2.5 min-h-2.5 sm:w-2.5 sm:h-2.5"
        ></span>
        <!-- Botón para abrir el modal -->
        <button
          class="btn btn-ghost btn-square"
          (click)="openModal(notification)"
        >
          <svg
            class="size-[1.2em]"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <g
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-width="2"
              fill="none"
              stroke="currentColor"
            >
              <path d="M6 3L20 12 6 21 6 3z"></path>
            </g>
          </svg>
        </button>
      </li>
    </ul>
  </article>

  <!-- Sin notificaciones -->
  <div
    *ngIf="notifications.length === 0"
    class="text-center py-10 text-base-content/60"
  >
    <svg
      class="mx-auto mb-4 w-12 h-12 text-primary"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 18 18 6M6 6l12 12"
      />
    </svg>

    <p class="text-lg font-medium text-base-content">
      No tienes ninguna notificación
    </p>
    <p class="text-sm text-base-content/60">
      Te avisaremos de tus próximas notificaciones.
    </p>
  </div>
</section>

<!-- Modal -->
<div
  *ngIf="modalOpen"
  class="fixed inset-0 bg-gray-100/90 z-50 flex justify-center items-center"
>
  <div
    class="card bg-base-100 text-base-content shadow-2xl rounded-[2rem] w-full sm:w-4/5 lg:w-2/5 p-6 border border-primary modal-enter"
  >
    <!-- Icono de campana -->
    <div class="flex justify-center mb-4">
      <div class="bg-primary p-4 rounded-full">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="inline w-6 h-6 mr-1 text-white"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 2a6 6 0 00-6 6v2c0 .628-.134 1.24-.39 1.8L3 14h14l-.61-2.2A3.993 3.993 0 0016 10V8a6 6 0 00-6-6zm0 16a2 2 0 001.995-1.85L12 16H8a2 2 0 002 2z"
          />
        </svg>
      </div>
    </div>

    <!-- Contenido del modal -->
    <h2 class="text-2xl font-semibold text-center mb-4">
      {{ selectedNotification.titulo }}
    </h2>
    <p class="text-md text-center mb-4">
      {{ selectedNotification.mensaje }}
    </p>

    <!-- Botón cerrar -->
    <div class="text-center mt-6">
      <button
        class="btn btn-outline btn-primary rounded-full px-8"
        (click)="closeModal()"
      >
        Cerrar
      </button>
    </div>
  </div>
</div>
