<table class="table table-zebra">
    <thead>
      <tr>
        <th>#</th>
        <th>Archivo</th>
        <th>Trámite</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
            @for(item of documents; track $index){
                <tr>
                  <td>{{item.nombre_titulacion}}</td>
                  <td>{{item.nombre_archivo}}</td>
                  <td>{{item.fecha_subida}}</td>
                  <td><select class="select select-primar badge badge-info">
                    <option disabled selected>Estado del tramite</option>
                    <option>Pendiente</option>
                    <option>Aprobado</option>
                  </select></td>
                </tr>
        }
        
    </tbody>
  </table>