<div class="flex items-center justify-center min-h-screen bg-base-100">
  <form [formGroup]="checkinForm" (ngSubmit)="onSubmit()" class="w-full max-w-3xl h-4/5">
    <fieldset class=" flex flex-col fieldset bg-base-200 border-base-300 rounded-box border p-8 w-4/5 mx-auto h-[70vh]">
      <legend class="fieldset-legend text-xl font-semibold mb-4">Formulario de registro</legend>

      <label class="label font-bold">Email</label>
      <input type="email" formControlName="email" class="input input-bordered w-full mb-4" placeholder="ejemplo@ejemplo.com" />
      @if (checkinForm.get('email')?.touched && checkinForm.get('email')?.invalid) {
        <div class="text-error text-sm mb-4">
            <span *ngIf="checkinForm.get('email')?.errors?.['required']">El email es obligatorio</span>
            <span *ngIf="checkinForm.get('email')?.errors?.['email']">Email inválido</span>
        </div>
      }

      <label class="label font-bold">Nombre completo</label>
      <input type="email" formControlName="name" class="input input-bordered w-full mb-4" placeholder="Escribe tu nombre completo" />
      @if (checkinForm.get('name')?.touched && checkinForm.get('name')?.invalid) {
        <div class="text-error text-sm mb-4">
            <span *ngIf="checkinForm.get('name')?.errors?.['required']">El nombre es obligatorio</span>
            <span *ngIf="checkinForm.get('name')?.errors?.['minlength']">Mínimo 10 caracteres</span>
        </div>
      }

      <label class="label font-bold">Contraseña</label>
      <input type="password" formControlName="password" class="input input-bordered w-full mb-6" placeholder="********" />
      @if (checkinForm.get('password')?.touched && checkinForm.get('password')?.invalid) {
        <div class="text-error text-sm mb-4">
            <span *ngIf="checkinForm.get('password')?.errors?.['required']">La contraseña es obligatoria</span>
            <span *ngIf="checkinForm.get('password')?.errors?.['minlength']">Mínimo 6 caracteres</span>
        </div>
      }


      <button type="submit" class="btn btn-primary w-full">Darse de alta</button>

      <p class="mt-auto pt-4">
        ¿Ya tienes una cuenta?
        <a href="#" class="text-secondary hover:underline">Identifícate</a>
      </p>
    </fieldset>
  </form>
</div>
