<!-- Fondo oscuro con desenfoque -->
<div class="fixed inset-0 bg-black/30 backdrop-blur-lg flex items-center justify-center z-50">
  <!-- Ventana flotante -->
  <div class="bg-white p-6 rounded-lg shadow-lg max-w-xl w-full">
    <h2 class="text-xl font-bold mb-2">Detalles del Estudiante</h2>

    <div class="mb-4">
      <p><strong>Nombre:</strong> {{ selectedUser()?.name }}</p>
      <p><strong>Email:</strong> {{ selectedUser()?.email }}</p>
      <p><strong>Estado:</strong> {{ selectedUser()?.estado }}</p>
      <p><strong>Locación:</strong> {{ selectedUser()?.locacion }}</p>
    </div>

    <div class="bg-gray-100 p-4 rounded mb-4">
      <app-form-admin></app-form-admin>
    </div>

    <div class="flex justify-end space-x-2 ">
      <button class="btn btn-outline btn-primary" (click)="irADetalles()">Ver información completa</button>
      <button class="btn btn-outline btn-secondary" (click)="onClose()">Cerrar</button>
    </div>
  </div>
</div>
