<div class="fixed inset-0 bg-black/30 backdrop-blur-lg flex items-center justify-center  z-90 p-4">
  <div class="bg-white text-neutral-800 p-6 rounded-2xl shadow-2xl max-w-4xl w-full max-h-[90vh] overflow-y-auto space-y-6 transition-all duration-300">
    <!-- Contenido aquí -->
    <!-- Título principal -->
    <h2 class="text-2xl font-bold text-center">Detalles del Estudiante</h2>

    <!-- Tarjeta del estudiante -->
    <div class="flex justify-center">
      <div class="card w-80 bg-base-100 shadow-xl">
        <div class="card-body items-center text-center">
          <div class="avatar">
            <div class="w-24 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
              <img src="https://imgs.search.brave.com/h6yxdqWgKWbXEI4rGRq6IWGdvfZLvOIJZuzdJ5B3_Vc/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvaGQvcGxh/Y2Vob2xkZXItcHJv/ZmlsZS1pY29uLTIw/dGVoZmF3eHQ1ZWlo/Y28ucG5n" />
            </div>
          </div>
          <h2 class="card-title mt-4">{{ selectedUser().nombre}}</h2>
          <p class="text-sm text-gray-500">{{ selectedUser().correo }}</p>
          <p class="mt-1"><strong>Centro:</strong> {{ selectedUser().centro_nombre}} </p>
          <p class="mt-1"><strong>Fecha de registro:</strong> {{ selectedUser().fecha_registro | date:'dd/MM/yyyy' }}</p>
        </div>
      </div>
    </div>

    <!-- Formulario administrativo -->
    <div class="bg-gray-100 p-4 rounded-xl">
    <app-form-admin  [selectedUser]="selectedUser()"></app-form-admin>
    </div>

    <!-- Archivos adjuntos -->
    <div>
      <h3 class="text-primary text-center text-lg font-semibold mb-4">ARCHIVOS ADJUNTOS</h3>
      <div class="flex justify-center">
        <div class="overflow-x-auto rounded-xl border border-base-content/10 bg-base-100 shadow-sm w-full max-w-4xl">
         <app-archivos-adjuntos [id_user]="selectedUser().uid"></app-archivos-adjuntos>
        </div>
      </div>
    </div>

    <!-- Botones de acción -->
    <div class="flex justify-end space-x-3 pt-2">
      <button class="btn btn-warning btn-wide" (click)="onClose()">Cerrar</button>
    </div>
  </div>
</div>
