<ul class="menu space-y-2">
  <!-- Perfil -->
  <li>
    <a
      routerLink="profile"
      routerLinkActive="text-[#002782] font-bold"
      class="flex items-center gap-2 hover:text-[#FF5B41]">
      <svg class="w-5 h-5 text-[#002782]" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 15c2.837 0 5.45.88 7.879 2.804M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
      </svg>
      Perfil
    </a>
  </li>

  <!-- Envío de Documentación -->
  <li>
    <a
      routerLink="form"
      routerLinkActive="text-[#002782] font-bold"class="flex items-center gap-2 hover:text-[#FF5B41]">
      <svg class="w-5 h-5 text-[#002782]" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 17.25h9m-9-4.5h9m-9-4.5h5.25M4.875 4.5h14.25c.621 0 1.125.504 1.125 1.125v12.75c0 .621-.504 1.125-1.125 1.125H4.875A1.125 1.125 0 013.75 18.375V5.625c0-.621.504-1.125 1.125-1.125z" />
      </svg>
      Envío Documentación
    </a>
  </li>

  <!-- Notificaciones -->
  <li>
    <a
      routerLink="notifications"
      routerLinkActive="text-[#002782] font-bold"
      class="flex items-center gap-2 hover:text-[#FF5B41]">
      <svg class="w-5 h-5 text-[#002782]" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
      </svg>
      Notificaciones
      <span class="badge badge-sm bg-[#FF5B41] text-white">3</span>
    </a>
  </li>

  <!-- Estado -->
  <li>
    <a
      routerLink="status"
      routerLinkActive="text-[#002782] font-bold"
      class="flex items-center gap-2 hover:text-[#FF5B41]">
      <svg class="w-5 h-5 text-[#002782]" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m2 0a2 2 0 100-4H7a2 2 0 100 4zm0 0a2 2 0 110 4H7a2 2 0 110-4z" />
      </svg>
      Estado
      <span class="badge badge-xs" style="background-color: #41b9ff;"></span>
    </a>
  </li>
</ul>
